# Data files
data/stock.json
*.json

# Environment and Python
.env
venv/
__pycache__/
*.py[cod]
*$py.class

# IDE settings
.vscode/
.idea/
*.swp
.DS_Store

# Logs
*.log

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints